{% load static %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'drawsearch/main.css' %}">
    <!-- FontAwesome CSS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">

    {% if title %}
        <title>UCSB Drawings Search - {{ title }} </title>
    {% else %}
        <title>UCSB Drawings Search</title>
    {% endif %}

</head>
<body>
        <header class="site-header">
                <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
                  <div class="container">
                    <a class="navbar-brand mr-4" href="{% url 'search-home' %}">Record Drawing Search</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarToggle">
                      <div class="navbar-nav mr-auto">
                        <!-- <a class="nav-item nav-link" href="{% url 'search-home' %}">Home</a> -->
                        <!-- <a class="nav-item nav-link" href="{% url 'search-result' %}">Result</a> -->

                      </div>

                      <!-- Navbar Right Side -->
                      <div class="navbar-nav">
                        <a class="nav-item nav-link" >It is the {% now "jS \o\f F" %}</a>

                        <!-- <a class="nav-item nav-link" href="#">{% lorem 2 w random %}</a> -->
                        <a class="nav-item nav-link" href="#">Login</a>
                        <a class="nav-item nav-link" href="#">Register</a>
                      </div>
                    </div>
                  </div>
                </nav>
            </header>

            <main role="main" class="container">
                <div class="row">

                    <div class="col-md-4">
                        <div class="content-section">
                            <h3>Searchbar</h3>
                            <p class='text-muted'>Start broad and refine search from there.

                                <form action="/search/" method="GET">

                                    <div class="form-group">
                                        <label for="locationNumber">Location Number:</label>
                                        <input type="number" name="locnum" class="form-control" id="locationNumber" aria-describedby="locationNumberHelp" placeholder="Location Number">
                                        <small id="locationNumberHelp" class="form-text text-muted">Normally this is the building number</small>
                                    </div>
                                    <div class="form-group">
                                        <label for="drawingNumber">Drawing Number:</label>
                                        <input type="number" name="drawnum" class="form-control" id="drawingNumber" aria-describedby="drawingNumberHelp" placeholder="Drawing Number">
                                        <small id="drawingNumberHelp" class="form-text text-muted">Original construction is 101 and they go up sequentially from there.</small>
                                    </div>
                                    <div class="form-group">
                                            <label for="projectTitle">Project Title:</label>
                                            <input type="text" name="projtitle" class="form-control" id="projectTitle" aria-describedby="projectTitleHelp" placeholder="Project Title">
                                    </div>
                                    <div class="form-group">
                                            <label for="sheetTitle">Sheet Title:</label>
                                            <input type="text" name="shttitle" class="form-control" id="sheetTitle" aria-describedby="sheetTitleHelp" placeholder="Sheet Title">
                                    </div>
                                    <div class="form-group">
                                            <label for="sheetNumber">Sheet Number:</label>
                                            <input type="text" name="shtnum" class="form-control" id="sheetNumber" aria-describedby="sheetNumberHelp" placeholder="Sheet Number">
                                    </div>
                                    <div class="form-group">
                                        <label for="designDesignation">Design Designation</label>
                                        <select class="form-control" name="discp" id="designDesignation">
                                            <option value = "">ANY</option>
                                            <option>ARCHITECTURAL</option>
                                            <option>AUDIO VISUAL</option>
                                            <option>CIVIL</option>
                                            <option>ELECTRICAL</option>
                                            <option>FIRE ALARM</option>
                                            <option>GENERAL NOTES</option>
                                            <option>LANDSCAPE</option>
                                            <option>LIFE SAFETY</option>
                                            <option>MECHANICAL</option>
                                            <option>PLUMBING</option>
                                            <option>SHOP DRAWINGS</option>
                                            <option>SPECIFICATIONS</option>
                                            <option>STRUCTURAL</option>
                                            <option>TELECOMM</option>
                                            <option>TITLE INDEX</option>
                                            <option>TRAFFIC</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                            <label for="drawingDate">Year Since (yyyy):</label>
                                            <input type="number" name="drawdate" class="form-control" id="drawingDate" aria-describedby="drawingDateHelp" placeholder="YYYY">
                                    </div>
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </form>

                            </p>
                        </div>
                    </div>

                    <div class="col-md-8">
                        <h1>{{ title }}</h1>
                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert alert{{ message.tags }}">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endif %}
                        {% block content %}{% endblock %}
                    </div>


                </div>
            </main>

            <div class="container">
                <div class="row">
                    <div class="col">
                        <p class="text-left">
                            Copyright &copy; 2018 The Regents of the University of California, All Rights Reserved
                            &#x2022;
                            <a href="http://www.policy.ucsb.edu/terms-of-use/">Terms of Use</a>
                            &#x2022;
                            <a href="https://www.facilities.ucsb.edu/about-us">About Us</a>
                            &#x2022;
                            Last Modified <time datetime="2018-12-214 class="published updated">December 12, 2018</time>
                        </p>
                        <p class="text-left">
                            If any of the material on this page is not accessible to you, please <a href="https://www.facilities.ucsb.edu/departments/design-construction-services/contact-us">contact Paul Bartsch</a> and we will provide alternatives.
                        </p>
                    </div>
                </div>
            </div>



<!-- TableSort -->
<script src=' {% static "drawsearch/tablesort.js" %} '></script>
<script>
  new Tablesort(document.getElementById('clickTable'));
</script>
<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>